<div class="card p-2">
  <h2>My account status</h2>
  <div class="d-flex flex-row justify-content-between card me-5 ms-5 mb-3 p-3">

    <app-light-info *ngFor="let info of accountInfoList"
                            [lightInfoInput]="info">

    </app-light-info>

  </div>
  <div class="card m-3 p-3">
    <div class="d-flex flex-row align-items-start mb-3">
      <div class="me-3">
        <label for="start-date" class="form-label">Start date</label>
        <input type="text" class="form-control" id="start-date" placeholder="--/--/----">
      </div>
      <div>
        <label for="end-date" class="form-label">End date</label>
        <input type="text" class="form-control" id="end-date" placeholder="--/--/----">
      </div>
    </div>
    <div class="card p-3">

    </div>
  </div>
</div>
