<div class="p-2">
  <h2>My transactions</h2>
  <div class="d-flex justify-content-end mb-3">
    <a [routerLink]="'/user/new-transaction'" class="btn btn-success">
      <em class="fas fa-plus"></em>&nbsp;New transaction
    </a>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">IBAN</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

