<div class="container-fluid card register-container">
  <h3 class="text-center">Create an account</h3>
  <hr>
  <div class="mb-3">
    <label for="firstname" class="form-label">First name</label>
    <input type="text" class="form-control" id="firstname" placeholder="name@First name.com">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Last name">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="pasword" placeholder="Password">
  </div>
  <div class="mb-3">
    <label for="repeat-pasword" class="form-label">Repeat password</label>
    <input type="password" class="form-control" id="repeat-pasword" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Register</em>
    </button>
    <div>
      Already have an account ?&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
