<div class="p-2">
  <h2>Bank customers</h2>
  <div class="d-flex justify-content-end mb-3">
    <div class="form-check form-switch">
      <label class="form-check-label" for="flexSwitchCheckDefault">Show inactive users only</label>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">IBAN</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <span class="badge text-bg-warning">Inactive</span>
        </td>
        <td class="cursor-pointer">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="active-status">
            </div>
            &nbsp;|&nbsp;
            <em class="ms-2 fas fa-trash text-danger"></em>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
          <span class="badge text-bg-warning">Inactive</span>
        </td>
        <td class="cursor-pointer">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="active-status">
            </div>
            &nbsp;|&nbsp;
            <em class="ms-2 fas fa-trash text-danger"></em>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>Larry the Bird</td>
        <td>
          <span class="badge text-bg-success">Active</span>
        </td>
        <td class="cursor-pointer">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="active-status" checked>
            </div>
            &nbsp;|&nbsp;
            <em class="ms-2 fas fa-trash text-danger"></em>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

